.container {
    padding: 3.2rem 2.6rem ;
    background: var(--color-bg-secondary);
    border-radius: 4px;
    width: 60vw;
    margin: 2rem auto;
}
@media screen and (max-width: 600px) {
    .container {
       width: 75vw;
    }
}
@media screen and (max-width: 400px) {
    .container {
       width: 80vw;
       padding: 1.6rem;

    }
}
.title {
    /* color: #7D8688 ; */
    color: var(--color-text-primary);
    font-size: 2.4rem;
    font-family: 'Rubik';
    font-style: normal;
	font-weight: 600;
    text-decoration: none;
}
.description {
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
}
.readmore {
    border: none;
    appearance: none;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--color-text-special-primary); 
    font-weight: 400; 
    text-decoration: none;
}

.readmore:hover {
    color: var(--color-text-secondary); 
}