.container {
    border-bottom: 1px solid var(--color-text-special-primary);
    padding: 2rem;
    width: 40%;
    margin: auto;
    height: auto; 
}
@media screen and (max-width: 750px) {
    .container {
       width: 90%;
    }
}
.title {
    /* color: #7D8688 ; */
    color: var(--color-text-primary);
    font-size: 2.4rem;
    font-family: 'Rubik';
    font-style: normal;
	font-weight: 600;
    text-decoration: none;
}
.title:hover {
    color: var(--color-text-accent);
}
.description {
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
    color: var(--color-text-secondary);
}

.category {
    font-size: 1rem;
    padding: 1rem 1.4rem;
    width: fit-content;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--color-text-special-primary);
}