@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Source+Sans+Pro:wght@400;600&display=swap');
html{
  font-size: 62.5%;
}
body {
  --color-text-primary: #131616;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #E6EDEE;
  --color-bg-secondary: #7d86881c;
  padding: 3rem;
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;
  transition: background 0.25s ease-in-out;
}
body[data-theme="light"] {
  --color-text-primary: #131616;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #E6EDEE;
  --color-bg-secondary: #7d86881c;
}

body[data-theme="dark"] {
  --color-text-primary: #F2F5F7;
  --color-text-special-primary: #7D8688;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #0E141B;
  --color-bg-secondary: #1E262F;
}

