.post {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
}
@media screen and (max-width: 650px) {
    .post {
       width: 80vw;
    }
}
.title {
    font-size: 3.8rem;
    color: var(--color-text-primary);
}
.date {
    color: var(--color-text-secondary);
}
.category {
    font-family: monospace;
    font-size: 1.6rem;
    color: var(--color-text-secondary);
}

