.post {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-size: 3.2rem;
    color: var(--color-text-primary);
}
.description {
    font-size: 1.8rem;
    color: var(--color-text-special-primary);
}
@media screen and (max-width: 400px) {
    .description {
       font-size: 1.6rem;
    }
}
.date {
    color: var(--color-text-primary);
    font-size: 1.2rem;
    opacity: .8;
}
.category {
    font-family: monospace;
    font-size: 1.6rem;
    color: var(--color-text-secondary);
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--color-text-special-primary);

}
.container {
    width: 100%;
    margin: 0 auto;
}
.header {
    color: var(--color-text-primary);
    font-size: 3.8rem;
    
}
.introduction {
    font-weight: 300;
    color: var(--color-text-primary);
    line-height: 2.4rem;
    font-size: 1.6rem;

}
.uvplist ul {
    list-style-type: square;
   
  }
  .uvplist ul > li {
    clear: left;
    padding: .5rem 0;
  }
  